:root{
    --principal:#003e1c;
    --seconde:#fe5300;
    --troisieme:#fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
#bg-login-main{
    background-image: url('../../../images//bg.jpg');
    height: 100vh;
    animation: animateBg 5s linear infinite;
    -webkit-animation: animateBg 5s linear infinite;
}
@keyframes animateBg{
    100% {
        filter: blur();
        -webkit-filter: hue-rotate(360deg);
}

}
#bg-login-login-card{
    height: 600px;
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #fff;
    backdrop-filter: blur(15px);
}
.btn-content-material-background{
    background-color: var(--seconde) !important;
    border: none;
    color: var(--troisieme);
}
.btn-content-material-background:hover{
    background-color: var(--troisieme) !important;
    border: none;
    color: var(--seconde);
    box-shadow: none !important;
    border: 3px solid var(--seconde);
    
}
@media screen  and (max-width:472px){
    #bg-login-login-card{
        height: 600px;
        background-color: transparent;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border: none !important;
        backdrop-filter: blur(15px);
    }
    
       
}