
:root{
    --principal:#003e1c;
    --seconde:#fe5300;
    --troisieme:#fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.content-boutton-and-input-main{
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100% !important;
    gap: 10px;
}
#content-boutton-and-input-main-btn{
    background-color: var(--seconde);
    border: none;
    color: var(--troisieme);
}
.card-content-main{
    width: 270px;
    height: 290px;
    background-color: var(--troisieme);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content-main-content-priicipal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center !important;
    align-items: center;
    gap: 20px;
}
#prix-content-product-main{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    background-color: #fe5300;
    color: #fff;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 8px; */
    
    
}
#content-boutton-and-input-main-btn-product{
    background-color: none;
    border: none;
    height: 30px;
    color: var(--troisieme);
}
@media screen  and (max-width:992px){
    .card-content-main-content-priicipal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center !important;
        align-items: center;
        gap: 20px;
    }

   

    
    
    
}
@media screen  and (max-width:767px){
    .card-content-main-content-priicipal{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center !important;
        align-items: center;
        gap: 20px;
       
    }
    .card-content-main{
        width: 100%;
    }  
    
}
@media screen  and (max-width:491px){
    .content-boutton-and-input-main{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        gap: 10px;
    }
    
    
    
}